@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fjalla+One&family=Luckiest+Guy&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fjalla+One&family=Luckiest+Guy&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  min-height: 100dvh;
  width: 100%;
}

a {
  text-decoration: none;
}

  .head{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    overflow: hidden;
    background: #0b090a;
    min-height: 4.3em;
    min-width: 1300px;
    width: 100%;
}

.navy{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
    height: fit-content;
    width: 100%;
}

.navy .logo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70px;
    width: max-content;
}

.logo h1{
    color: aliceblue;
    font-family: "Cookie", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-wrap: nowrap;
    background: linear-gradient(to right, #e9edc9, #edddd4, #fefae0);
    background-clip: text;
    -webkit-background-clip: text;
    transition-timing-function: linear;
    animation: animated 3s linear infinite;
    color: transparent;
}

@keyframes animated{
    to{background-position-x: 500px;}
  }

.navy .align{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 0;
    outline: 2px outset #cccc;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 50px;
    height: 50px;
    width: 550px;
}

.align .hey{
    list-style: none;
}

.align .hey a{
    font-size: 1.1rem;
    color: aliceblue;
}

.align .hey a.active{
   font-weight: 700;
   color: #e8f1f2;
   border-bottom: 2px inset #283618;
}

.align .hey a.use:not(a.active):hover{
    color: #dee2ff;
    font-weight: 600;
}


.navy .option{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    width: max-content;
}

.option .btn{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #0b090a;
    cursor: pointer;
    background: #faf9f9;
    outline: 2px outset #ccc;
    overflow: hidden;
    transition: all 0.2s;
    width: max-content;
  }

  .option .btn::before{
    content:'';
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #283618;
    transition: 0.3s ease-in-out;
    overflow: hidden;
  }

  .option .btn:hover::before{
   position: absolute;
   right: 0;
  }
 
  .option .btn:active {
    background: unset;
    color: #0b090a;
    transform: scale(.9);
  }

  .option a{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #0b090a;
    z-index: 2;
  }

  .option a:hover{
    color: aliceblue;
  }

  .option i{
    font-size: 1.2rem;
  }

  .sec{
    display: grid;
    position: relative;
    place-items: center;
    padding: 50px 20px;
    background-image: url(https://www.checkatrade.com/blog/wp-content/uploads/2021/01/Kitchen-island-wraparound-breakfast-bar.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    min-height: 100dvh;
    min-width: 1300px;
    width: 100%;
}

.sec::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
    border-image:  fill 0 linear-gradient(#0009, #0009);
  }

  .sec .control{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    height: 700px;
    width: calc(100% - 100px);
  }

  .control .pic{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url("/featured/08.png");
    background-position: center;
    background-size: 100% 100%;
    height: 650px;
    width: 100%;
  }

  .control .hey{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    height: fit-content;
    width: calc(100% - 150px);
  }


  .hey .set{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    height: fit-content;
    width: 100%;
  }

  .set h1{
    color: aliceblue;
    font-size: 3rem;
    font-weight: 700;
  }

  .hey .kda{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    height: fit-content;
    width: 100%;
  }

  .kda p{
    font-size: 1.2rem;
    color: aliceblue;
    line-height: 40px;
    text-wrap: pretty;
    text-align: justify;
    text-justify: distribute-all-lines;
  }

  .hey .og{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
    width: 100%;
  }

  .og h2{
    font-size: 3rem;
    color: crimson;
    text-decoration: line-through;
  }

  .hey .jd{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    height: fit-content;
    width: 100%;
  }

.jd h2{
  font-size: 2.5rem;
  color: aliceblue;
}

.jd .me i{
   font-size: 3rem;
   color: gold;
}
